@model IEnumerable<DalaWeb.Domain.Entities.Abonents.Abonent>

@{
    ViewBag.Title = "Очередь";
}

<h2>Очередь рассчетов услуг абонента</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Очередь
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if(!item.PaymentQueues.Any())
            {            
                @Html.ActionLink("Добавить очередь", "Create", new { abonentId =item.AbonentId })
            }
            else
            {
                string paymentQueues = item.PaymentQueues.Last().Queue;
                string[] ids = paymentQueues.Split(';');
                System.Text.StringBuilder sb = new System.Text.StringBuilder();
                foreach(var id in ids)
                {
                    if (id != "")
                    {
                        if (id[0] == 's')
                        {
                            sb.Append(item.AbonentServices.Where(x => x.AbonentServiceId == int.Parse(id.Substring(1, 1))).Single().Service.Name + ", ");

                        }
                        else
                        {
                            sb.Append(item.AbonentCredits.Where(x => x.AbonentCreditId == int.Parse(id.Substring(1, 1))).Single().Credit.Name + ", ");
                        }
                    }
                  }
                <p>
                    @Html.ActionLink(@sb.Remove(sb.Length - 2, 1).ToString(), "Edit", new { paymentQueueId = item.PaymentQueues.Last().PaymentQueueId })
                </p>
            }
        </td>
    </tr>
}

</table>
