@model DalaWeb.Domain.Entities.Counters.CounterValues

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>*@

<h2>Create</h2>


@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

@*@using (Ajax.BeginForm("UploadFile",
                        "CounterValues",
                        new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "b", InsertionMode = InsertionMode.Replace }, 
                        new { enctype = "multipart/form-data"}))*@

@*@*<div id="b">
    Тут будет нужная фраза - @Html.Partial("UploadFile")
</div>*@

@using (Html.BeginForm("UploadFile", "CounterValues", FormMethod.Post, new { enctype = "multipart/form-data" }))
{     
    @Html.AntiForgeryToken()
    <input type="file" name="files" accept=".xlsx"><br>
    @Html.DropDownList("ServiceId", (SelectList)ViewBag.ServiceId)
    <br />
    <input type="submit" value="Upload File to Server">
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

