@model DalaWeb.Domain.Entities.Counters.CounterValues

@{
    ViewBag.Title = "Показания счетчиков";
}

<h2>Детальнее</h2>

<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Counter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Counter.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Вернуться", "Index")
</p>
