@model DalaWeb.WebUI.ViewModels.ForCounterValues.UploadFileStaticticsViewModel

@{
    ViewBag.Title = "Показания счетчиков";
}

@Html.ActionLink("К показаниям", "Index")

@if (Model != null)
{
    <h2>
        Статистика импорта текущего файла
    </h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Показания
                </th>
                <th>
                    Добавлено в базу?
                </th>
                <th>
                    Сообщение
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.counterStatistic)
            {
                <tr>
                    <td align="center" valign="middle">
                        @p.counterName
                    </td>
                    <td align="center" valign="middle">
                        @p.counterValue
                    </td>
                    <td align="center" valign="middle">
                        @p.isSuccess
                    </td>
                    <td align="center" valign="middle">
                        @p.message
                    </td>
                </tr>
            }
        </tbody>
    </table>
}