@model DalaWeb.Domain.Entities.Addresses.Address

@{
    ViewBag.Title = "Адрес";
}

<script type="text/javascript">
    var addressGetStreetPath = "@Url.Action("GetStreets", "Address")";
</script>

<script src="~/Scripts/DropDownHelpers/AddressDropdown.js"></script>

<h2>Создать адрес для абонента" + (string)ViewBag.AbonentName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Адрес</legend>

        <div class="editor-label">
            Город
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityId", string.Empty)
            @Html.ValidationMessageFor(model => model.City.CityId)
        </div>

        <div class="editor-label">
            Улица
        </div>
        <div class="editor-field">
            @Html.DropDownList("StreetId", new SelectList(string.Empty, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.Street.StreetId)
        </div>

        <div class="editor-label">
            Дом
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.House)
            @Html.ValidationMessageFor(model => model.House)
        </div>        
        <p>
            <input type="submit" value="Создать" class="btn" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "Edit", "Abonent", new { id = (int)Session["AbonentId"] }, null)
</div>
