@*@model DalaWeb.Domain.Entities.Addresses.Address

@{
    ViewBag.Title = "Детальнее";
}

<h2>Подробнее</h2>

<fieldset>
    <legend>Адрес</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.StreetId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StreetId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.House)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.House)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.AbonentId }) |
    @Html.ActionLink("Вернуться", "Index")
</p>*@
