@model DalaWeb.Domain.Entities.Addresses.Address

@{
    ViewBag.Title = "Редактирование";
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/DropDownHelpers/AddressDropdown.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#CityId").change(function () {
            $("#StreetId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStreets")',
                dataType: 'json',
                data: { cityId: $("#CityId").val() },
                success: function (streets) {
                    $.each(streets, function (i, street) {
                        $("#StreetId").append('<option value="' + street.Value + '">' +
                         street.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>*@


<h2>Редактировать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Адрес</legend>

        @Html.HiddenFor(model => model.AbonentId)

        <div class="editor-label">
            Город
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityId", (SelectList)ViewBag.Cities)
            @Html.ValidationMessageFor(model => model.CityId)
        </div>

        <div class="editor-label">
            Улица
        </div>
        <div class="editor-field">
            @Html.DropDownList("StreetId", (SelectList)ViewBag.Streets)
            @Html.ValidationMessageFor(model => model.StreetId)
        </div>

        <div class="editor-label">
            Дом
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.House)
            @Html.ValidationMessageFor(model => model.House)
        </div>

        <p>
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </p>
    </fieldset>
}

<div>
    @*    @Html.ActionLink("Назад", "Edit", "Abonent", new { id = Model.AbonentID }, null)*@
    <button type="button" onclick="location.href='@Url.Action("Edit", "Abonent", new { id = Model.AbonentId })'" class="btn btn-default">Назад</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
