@model DalaWeb.Domain.Entities.Addresses.Address

@{
    ViewBag.Title = "Адреса";
}

<script type="text/javascript">
    var addressGetStreetPath = "@Url.Action("GetStreets", "Address")";
</script>
<script src="~/Scripts/DropDownHelpers/AddressDropdown.js"></script>

<h2>Редактирование</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Адрес</legend>

        @Html.HiddenFor(model => model.AbonentId)

        <div class="editor-label">
            Город
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityId", (SelectList)ViewBag.Cities)
            @Html.ValidationMessageFor(model => model.CityId)
        </div>

        <div class="editor-label">
            Улица
        </div>
        <div class="editor-field">
            @Html.DropDownList("StreetId", (SelectList)ViewBag.Streets)
            @Html.ValidationMessageFor(model => model.StreetId)
        </div>

        <div class="editor-label">
            Дом
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.House)
            @Html.ValidationMessageFor(model => model.House)
        </div>

        <p>
            <input type="submit" value="Сохранить" class="btn" />
        </p>
    </fieldset>
}

<div>
    <button type="button" 
            onclick="location.href='@Url.Action("Edit", "Abonent", new { id = Model.AbonentId })'" 
            class="btn">
        Назад
    </button>
</div>


