@model IEnumerable<DalaWeb.Domain.Entities.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AbonentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AbonentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AbonentID })
        </td>
    </tr>
}

</table>
