@model IQueryable<DalaWeb.Domain.Entities.Payments.Payment>

@functions{
    public string PrintMonth(DateTime date)
    {
        return date.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("ru-RU"));
    }
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Abonent.AbonentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Day)
        </td>
        <td>
            @PrintMonth(item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>

        <td>
            <a class="btn" title="Детальнее" href="@Url.Action("Details", new { id = item.PaymentId })">
                <span class="icon-info-sign"></span>
            </a>
            <a class="btn" title="Удалить" href="@Url.Action("Delete", new { id = item.PaymentId })">
                <span class="icon-remove"></span>
            </a>
        </td>
    </tr>
}
