@model DalaWeb.Domain.Entities.Payments.Payment

@{
    ViewBag.Title = "Платежи";
}

<h2>Детальнее</h2>

<table class="table table-striped">
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Abonent.AbonentNumber)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Abonent.AbonentNumber)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Date)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Date)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Sum)
            </div>

        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Sum)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Balance)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Balance)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Comment)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Comment)
            </div>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.PaymentId }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
