@model IEnumerable<DalaWeb.Domain.Entities.Addresses.Street>

@{
    ViewBag.Title = "Улицы. Главная";
}

<h2>Главная</h2>

<p>
    @Html.ActionLink("Создать новую", "Create")
</p>
@if (Model.Any())
{ 
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Функции
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Edit", new { id = item.StreetId })">Редактировать</a></li>
                        <li><a href="@Url.Action("Details", new { id = item.StreetId })">Детальнее</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>
}
else
{
    <p>
        Список улиц пуст
    </p>
}