@model DalaWeb.Domain.Entities.Counters.Tariff

@{
    ViewBag.Title = "Тарифы";
}

<h2 class="text-center">Создание тарифа</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="table table-striped">
        <caption>

        </caption>
        <tbody>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ServiceId)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownList("ServiceId", string.Empty)
                        @Html.ValidationMessageFor(model => model.ServiceId)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LimitValue)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.LimitValue)
                        @Html.ValidationMessageFor(model => model.LimitValue)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OverPrice)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OverPrice)
                        @Html.ValidationMessageFor(model => model.OverPrice)
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
<p class="text-center">
    <input type="submit" class="btn" value="Создать" />
</p>
}

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>

