@model DalaWeb.Domain.Entities.Services.ServiceCompany

@{
    ViewBag.Title = "Детальнее";
}

<h2>Детальнее о @Model.Name</h2>

<fieldset>
    <legend>Сервис компания</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ServiceCompanyId }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
