@model DalaWeb.Domain.Entities.Credits.AbonentCredit
@{
    ViewBag.Title = "Создать";
}
<h2>Создание кредита</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("FullyPaid", false)
    @Html.Hidden("AbonentId", (int)ViewBag.AbonentId)
    <table class="table table-hover">
        <tr>
            <td>
                <div class="editor-label">
                    Выберите кредит
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownList("CreditId", (SelectList)ViewBag.CreditId)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.StartDate)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.PrePayment)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PrePayment)
                    @Html.ValidationMessageFor(model => model.PrePayment)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.PaidMonths)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PaidMonths)
                    @Html.ValidationMessageFor(model => model.PaidMonths)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Term)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Term)
                    @Html.ValidationMessageFor(model => model.Term)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Price)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Price)
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Comment)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Comment)
                    @Html.ValidationMessageFor(model => model.Comment)
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Создать" class="btn" />
            </td>
        </tr>
    </table>
}

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>

