@model DalaWeb.Domain.Entities.Credits.AbonentCredit

@{
    ViewBag.Title = "Кредиты. Удаление";
}

<h2>Удаление кредита "@Model.Credit.Name" у абонента @Model.Abonent.Name</h2>

<h3>Вы действительно хотите удалить кредит "@Model.Credit.Name" у абонента @Model.Abonent.Name </h3>
<fieldset>
    <legend>AbonentCredit</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateWhereCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateWhereCreated)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PrePayment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrePayment)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PaidForTheEntirePeriod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaidForTheEntirePeriod)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PaidMonths)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaidMonths)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Term)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Term)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PaymentForMonth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentForMonth)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Вернуться", "Index")
    </p>
}
