@model IEnumerable<DalaWeb.Domain.Entities.Credits.AbonentCredit>

@{
    ViewBag.Title = "Главная";
}

<h2>Список кредитов</h2>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Abonent.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Credit.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrePayment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaidForTheEntirePeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaidMonths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Term)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentForMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abonent.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credit.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrePayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidForTheEntirePeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidMonths)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentForMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        <a class="btn" title="Редактировать" href="@Url.Action("Edit", new { abonentCreditId = item.AbonentCreditId })">
                            <span class="icon-edit"></span>
                        </a>
                        <a class="btn" title="Детальнее" href="@Url.Action("Details", new { abonentCreditId = item.AbonentCreditId })">
                            <span class="icon-info-sign"></span>
                        </a>
                        <a class="btn" title="Отключить" href="@Url.Action("Delete", new { abonentCreditId = item.AbonentCreditId })">
                            <span class="icon-remove"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        Список абонентских кредитов пуст
    </p>
}