@model DalaWeb.Domain.Entities.Services.Service

@{
    ViewBag.Title = "Сервисы";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#FinishDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yyyy/MM/dd',
            format: 'yyyy/MM/dd',
            autoclose: true
        });
    });
</script>

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить сервис "@Model.Name"?</h3>
<h5>В этом случае все абоненты будут автоматически отключены, а сервис перемещен в архив.</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table table-striped">
        @Html.HiddenFor(model => model.ServiceId)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.Type)
        @Html.HiddenFor(model => model.Price)

        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ServiceCompany.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ServiceCompany.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Price)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Price)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Type)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.ToString()
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Дата отключения
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBox("FinishDate", String.Format("{0:yyyy/MM/dd}", DateTime.Now), new { @class = "datepicker" })
                </div>
            </td>
        </tr>
    </table>


    <p>
        <input type="submit" value="Отключить" /> |
        @Html.ActionLink("Вернуться", "Index")
    </p>
}