@model DalaWeb.Domain.Entities.Services.Service

@{
    ViewBag.Title = "Сервисы";
}

<h2>Детальнее</h2>

<table>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.ServiceCompany.Name)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ServiceCompany.Name)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Price)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Price)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Type)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Type)
            </div>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ServiceId }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
