@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)

    <script src="~/Scripts/messages_ru.js"></script>
    <script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.ru-RU.js"></script>
    <script>
        $.validator.methods.number = function (value, element) {
            return this.optional(element) ||
                !isNaN(Globalize.parseFloat(value));
        }
    </script>
    <script>
        jQuery.extend(jQuery.validator.methods, {
            range: function (value, element, param) {
                //Use the Globalization plugin to parse the value
                var val = Globalize.parseFloat(value);
                return this.optional(element) || (
                    val >= param[0] && val <= param[1]);
            }
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@Url.Action("Index","Abonent")" title="Домашняя">Dala Web</a>
                <div class="nav-collapse nav navbar">
                    @Html.Navigation()
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("_alerts")
        @RenderBody()
        <hr>
        <footer class="footer">
            <p>&copy; Dala Web @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
    </div>
</body>
</html>

