@model DalaWeb.Domain.Entities.Credits.Credit

@{
    ViewBag.Title = "Кредиты. Создание";
}

<h2>Создать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Кредит</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <p>
            <input type="submit" value="Создать" class="btn btn-default" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>
