@model IEnumerable<DalaWeb.Domain.Entities.Services.AbonentService>

@{
    ViewBag.Title = "Сервисы абонента";
}

<h2>
    Услуги в архиве
    <a class="btn" title="К активным" href="@Url.Action("Index")">
        <span class="icon-arrow-left"></span>
    </a>
</h2>
<table class="table table-hover">
    <tr>
        <th>
            Номер
        </th>
        <th>
            Имя
        </th>
        <th>
            Сервис компания
        </th>
        <th>
            Сервис
        </th>
        <th>
            Дата подключения
        </th>
        <th>
            Дата отключения
        </th>
        <th>
            Цена
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Abonent.AbonentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abonent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceCompany.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Price)
            </td>
            <td>
                <a class="btn" title="Детальнее" href="@Url.Action("Details", new { abonentId = item.AbonentId, serviceId = item.ServiceId, startDate = item.StartDate })">
                    <span class="icon-info-sign"></span>
                </a>
            </td>
        </tr>
    }
</table>
