@model DalaWeb.Domain.Entities.Services.AbonentService

@{
    ViewBag.Title = "Сервисы абонента";
}

<h2>Детальнее о услуге "@Model.Service.Name" абонента "@Model.Abonent.Name"</h2>

<table class="table table-hover">
    <tr>
        <td>
            <div class="editor-label">
                @Html.DisplayNameFor(model => model.Service.Name)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Service.Name)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.DisplayNameFor(model => model.Service.ServicePrice.OrderBy(x => x.StartDate).Last().Price)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Service.ServicePrice.OrderBy(x => x.StartDate).Last().Price)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.DisplayNameFor(model => model.Abonent.Name)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Abonent.Name)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.DisplayNameFor(model => model.StartDate)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.DisplayNameFor(model => model.FinishDate)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.FinishDate)
            </div>
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Редактировать", "Edit", new { abonentServiceId = Model.AbonentServiceId }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
