@model DalaWeb.Domain.Entities.Services.AbonentService

@{
    ViewBag.Title = "Сервисы абонента";
}

<h2>Остановка</h2>

<h3>Вы действительно хотите отключить услугу @Model.Service.Name абонента @Model.Abonent.Name?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("AbonentServiceId", Model.AbonentServiceId)
    <table class="table table-hover">
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Service.Name)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.Service.Name)
                    @Html.ValidationMessageFor(model => model.Service.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.StartDate)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.FinishDate)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FinishDate)
                    @Html.ValidationMessageFor(model => model.FinishDate)
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>
                    <input type="submit" class="btn" value="Отключить" />
                </p>
            </td>
        </tr>
    </table>
}
<p>
    @Html.ActionLink("Вернуться", "Index")
</p>
